@{
    Layout = "_HospitalLayout";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
<h2>Pending Appointments</h2>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Patient Name</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AppointmentDate.ToString("dddd, dd MMMM yyyy HH:mm:ss")</td>
            <td>@item.Status</td>
            <td>@item.PatientUsername</td>
            <td>
                @if (item.Status == "Completed")
                {
                    <a asp-controller="Dashboard" asp-action="DescriptionPage" asp-route-id="@item.Id" class="btn btn-success">Description</a>

                }
                else
                {
                    <span>N/A</span>
                }
        </tr>
    }
</table>
